{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>User email</th>
                <th>User Phone</th>
                <th>User User Message</th>
            </tr>
        </thead>
        <tbody>
            {% for contactMsg in contactMsgs %}
            <tr>
                <td>{{ contactMsg.name }}</td>
                <td>{{ contactMsg.email }}</td>
                <td>{{ contactMsg.phone }}</td>
                <td>{{ contactMsg.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}