{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h4 class="mb-4">Contact Us</h4>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ contactUs.name.id_for_label }}">{{ contactUs.name.label }}</label>
            {{ contactUs.name }}
        </div>
        <div class="mb-3">
            <label for="{{ contactUs.email.id_for_label }}" class="form-label">{{ contactUs.email.label }}</label>
            {{ contactUs.email }}
        </div>
        <div class="mb-3">
            <label for="{{ contactUs.phone.id_for_label }}" class="form-label">{{ contactUs.phone.label }}</label>
            {{ contactUs.phone }}
        </div>
        <div class="mb-3">
            <label for="{{ contactUs.message.id_for_label }}" class="form-label">{{ contactUs.message.label }}</label>
            {{ contactUs.message }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}