{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="text-secondry mb-4">User Feedback</h2>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="bg-dark text-white">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Feedback</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for feedback in feedbacks %}
            <tr class="hover:bg-gray-100 transition-colors duration-300">
              <td>{{ feedback.name }}</td>
              <td>{{ feedback.email }}</td>
              <td>{{ feedback.feedback }}</td>
              <td>
                <div class="d-flex justify-content-end">
                  <a href="{% url 'update-feedback' feedback.id %}" class="btn btn-primary btn-sm mr-2">Update</a>
                  <a href="{% url 'delete-feedback' feedback.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
