{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-display-container my-5">
  <header class="hero">
    <div class="hero-overlay">
        <h1 class="display-4">Unleash Your Style</h1>
        <p class="lead">Dive into our exclusive fashion collections tailored just for you.</p>
    </div>
  </header>

  <section class="product-section-container product-grid p-4 my-4">
    <div class="row">
      {% for product in products %}
      <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
        <div class="card border-0 rounded-lg shadow-lg overflow-hidden">
          <div class="image-container">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 300px; object-fit: cover;">
            <div class="overlay">
              <a href="{% url 'ProductDetail' product.id %}" class="btn btn-light">View Details</a>
            </div>
          </div>
          <div class="card-body">
            <div class="text-content">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text text-muted">{{ product.company }}</p>
             <p class="card-text font-weight-bold text-success">{{ product.price }}</p>
            </div>
            <div class="card-btn">
              <a href="#" class="btn btn-primary">Shop Now</a>
              <a href="#" class="btn btn-secondary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="feedback-section container my-4 bg-light rounded shadow-sm p-3">
    <div class="text-center">
        <h4 class="mb-3 text-primary">We Value Your Feedback</h4>
    </div>
    <form method="post" action="{% url 'add-feedback' %}" class="border p-3 rounded bg-white shadow-sm">
        {% csrf_token %}
        <div class="mb-2">
            {{ feedback_form.name }}
        </div>
        <div class="mb-2">
            {{ feedback_form.email }}
        </div>
        <div class="mb-2">
            {{ feedback_form.feedback }}
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-sm">Submit Feedback</button>
    </form>
  </section>
</div>
{% endblock %}