{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="product-display-container my-3">
  <div class="bg-dark text-white shadow-sm mb-3">
    <div class="header-content">
      <h5 class="display-8">Discover Our Stylish Designs</h5>
      <p class="lead">Explore our latest fashion collections and find the perfect fit for your unique style.</p>
    </div>
  </div>
  <div class="row">
    {% for product in products %}
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="{{ product.image.url }}" class="card-img-top object-fit-cover" alt="Fashion Design" style="height: 250px;">
        <div class="card-body">
          <div class="product-description">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.company }}</p>
            <p class="card-text font-weight-bold">{{ product.price }}</p>
          </div>
          <div class="product-action">
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container my-5 bg-light shadow-sm p-4">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>Share Your Feedback</h2>
        <form method="post" action="{% url 'add-feedback' %}">
          {% csrf_token %}
          {{ feedback_form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-6">
        <img src="{% static 'products/images/feedback.jpg' %}" alt="Feedback Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>
{% endblock %}

