.product-display-container{
  width: 80%;
  margin: auto;
}

.home_header{
  height: 6rem;
  border-radius: 10px;
  padding: 1rem;
}
.header-content{
    margin: 0;
}


.card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-action{
    padding-top: 4rem;
}

